ClasesBase/bin
ClasesBase/obj
Vistas/bin
Vistas/obj
ClasesBase/bin/
ClasesBase/obj/
Vistas/bin/
Vistas/obj/
LPOO2_GRUPO06.sln
LPOO2_GRUPO06.suo
ClasesBase/obj/Debug/ClasesBase.csproj.FileListAbsolute.txt
ClasesBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Vistas/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Vistas/obj/x86/Debug/MainWindow.g.i.cs
Vistas/obj/x86/Debug/Vistas.csproj.FileListAbsolute.txt
LPOO2_GRUPO06.suo
